<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Bài viết đã xóa</h1>
            
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/me">Dashboard</a></li>
            <li class="breadcrumb-item active">Thùng rác</li>
        </ol>
        <div>
            <a href="/me">Danh sách bài viết</a>
        </div>
        <form name="handleFormActions" method="POST" action="/blog/handle-form-actions">
            <div class="mt-4 d-flex align-items-center">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Chọn tất cả
                </label>
                </div>

                <select name="action" id="inputState" class="w-25 mx-2 form-control form-control-sm" required>
                <option value="" selected>-- Chọn hành động --</option>
                <option value="restore">Khôi phục</option>
                <option value="destroy">Xóa vĩnh viễn</option>
                </select>

                <button class="check-all-submit btn btn-primary btn-sm disabled">Thực hiện</button>
            </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Slug</th>
                            <th>Image</th>
                            <th>Pott Status</th>
                            <th>Thời gian</th>
                            <th colspan="2">Thời gian tạo</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each posts}}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" name="postIds[]" type="checkbox" value="{{this._id}}">
                                </div>
                            </td>
                            <td>{{sum @index 1}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.slug}}</td>
                            <td>{{this.image}}</td>
                            <td>{{this.postStatus}}</td>
                            <td>{{this.commentStatus}}</td>
                            <td>{{this.deletedAt}}</td>
                            <td>
                                <a href="" class="me-2 btn-restore" data-bs-whatever="{{this._id}}">Khôi phục</a>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deletePost" data-bs-whatever="{{this._id}}">Xóa vĩnh viễn</a>
                            </td>
                        </tr>
                        {{else}}
                        <tr>
                            <td class="text-center" colspan = "7">Thùng rác trống.
                                <a href="/me">Danh sách khóa học</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
        </form>
    </div>
</main>

<form name="destroy-post-form" method="POST"></form>
<form name="restore-post-form" method="POST"></form>

<!-- Modal deleteOne -->
<div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostLabel">Xóa vĩnh viễn bài viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa bài viết? Bài viết này sẽ không thể khôi phục.
      </div>
      <div class="modal-footer">
        <button type="button" id="btnDeletePost" class="btn btn-danger">Chắc chắn xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal deleteMany -->
<div class="modal fade" id="deleteManyPost" tabindex="-1" aria-labelledby="deleteManyPostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteManyPostLabel">Xóa vĩnh viễn những bài viết đã chọn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa những bài viết này? Bài viết này sẽ không thể khôi phục.
      </div>
      <div class="modal-footer">
        <button type="button" id="btndeleteManyPost" class="btn btn-danger">Chắc chắn xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<script>
    var deletePost = document.getElementById('deletePost');
    var deleteManyPost = document.getElementById('deleteManyPost');

    var postId;
    var destroyPostForm = document.forms['destroy-post-form'];
    var restorPostForm = document.forms['restore-post-form'];
    var handleFormActions = document.forms['handleFormActions'];

    var checkboxAll = document.getElementById('checkbox-all');
    var postItemCheckboxs = document.querySelectorAll('input[name="postIds[]"]');
    var checkAllSubmit = document.querySelector('.check-all-submit');

    var btnRestore = document.querySelectorAll('.btn-restore');

    btnRestore.forEach(btn => {
        btn.onclick = function(e) {
            e.preventDefault();
            postId = btn.getAttribute('data-bs-whatever');

            restorPostForm.action = '/blog/' + postId + '/restore?_method=PATCH';
            restorPostForm.submit();
        }
    })



    deletePost.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        postId = button.getAttribute('data-bs-whatever')
    })

    var btnDeletePosts = document.getElementById('btnDeletePost');
    btnDeletePosts.onclick = function() {
        destroyPostForm.action = '/blog/' + postId + '/destroy?_method=DELETE';
        destroyPostForm.submit();
    }

    // lắng nghe sự kiện khi check all
    checkboxAll.onchange = function(e) {
        let isCheckedAll = e.target.checked;
        postItemCheckboxs.forEach(postItemCheckbox => {
            postItemCheckbox.checked = isCheckedAll;
        })
        renderCheckAllSubmitBtn()
    }

    // lắng nghe sự kiện postItemCheckboxs
    postItemCheckboxs.forEach(postItemCheckbox => {
        postItemCheckbox.onchange = function(e) {
            let isCheckedAll = postItemCheckboxs.length === document.querySelectorAll('input[name="postIds[]"]:checked').length

            checkboxAll.checked = isCheckedAll;
        renderCheckAllSubmitBtn()
        }
    })
    
    //Lắng nghe sự kiện onclick vào submit all
    checkAllSubmit.onclick = function(e) {
        
        let dataAction = document.querySelector('select[name="action"]');
        if(dataAction.value === 'destroy') {
            e.preventDefault();
            var myModal = new bootstrap.Modal(document.getElementById('deleteManyPost'), {})
            myModal.show();

            let btndeleteManyPost = document.getElementById('btndeleteManyPost');
            btndeleteManyPost.onclick = function() {
                handleFormActions.submit()
            }
        }
    }

    // create function Re-render check all submit button
    function renderCheckAllSubmitBtn() {
        let checkCount = document.querySelectorAll('input[name="postIds[]"]:checked').length;

        if(checkCount) {
            checkAllSubmit.classList.remove('disabled');
        } else{
            checkAllSubmit.classList.add('disabled')
        }
    }

</script>