<main>
    <div class="container-fluid px-4">
    <form name="handleFormActions" method="POST" action="/blog/handle-form-actions">
        <h1 class="mt-4">Danh sách khóa học</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/me">Dashboard</a></li>
            <li class="breadcrumb-item active">Danh sách khóa học</li>
        </ol>

        <div class="mb-2">
            <a href="/blog/trash">Thùng rác ({{ deleteCount }})</a>
        </div>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">
                Chọn tất cả
            </label>
            </div>

            <select name="action" id="inputState" class="w-25 mx-2 form-control form-control-sm" required>
            <option value="" selected>-- Chọn hành động --</option>
            <option value="delete">Xóa</option>
            </select>

            <button class="check-all-submit btn btn-primary btn-sm disabled">Thực hiện</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>STT</th>
                    <th>
                        Tiêu đề
                        {{{sortable 'title' _sort}}}
                    </th>
                    <th>Featured</th>
                    <th>Image</th>
                    <th colspan="2">
                        Thời gian tạo
                        {{{sortable 'createdAt' _sort}}}
                    </th>
                </tr>
            </thead>

            <tbody>
                {{#each posts}}
                <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" name="postIds[]" type="checkbox" value="{{this._id}}">
                    </div>
                </td>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.featured}}</td>
                    <td>{{this.image}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a class="me-2" href="/blog/{{this._id}}/edit">Sửa</a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deletePost" data-bs-whatever="{{this._id}}">Xóa</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td class="text-center" colspan = "7">Bạn chưa đăng bài viết nào.
                        <a href="/blog/new">Đăng khóa học</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
    </div>
</main>

<form name="delete-post-form" method="POST"></form>

<!-- Modal -->
<div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="deletePostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostLabel">Xóa bài viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa bài viết?
      </div>
      <div class="modal-footer">
        <button type="button" id="btnDeletePost" class="btn btn-primary">Xóa bài viết</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal deleteMany -->
<div class="modal fade" id="deleteManyPost" tabindex="-1" aria-labelledby="deleteManyPostLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteManyPostLabel">Xóa vĩnh viễn những bài viết đã chọn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa những bài viết này? Bài viết này sẽ không thể khôi phục.
      </div>
      <div class="modal-footer">
        <button type="button" id="btndeleteManyPost" class="btn btn-danger">Chắc chắn xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

<script>
    var deletePost = document.getElementById('deletePost');
    var deleteManyPost = document.getElementById('deleteManyPost');
    var checkAllSubmit = document.querySelector('.check-all-submit');


    var postId;
    var deletePostForm = document.forms['delete-post-form'];
    var checkboxAll = document.getElementById('checkbox-all');
    var postItemCheckboxs = document.querySelectorAll('input[name="postIds[]"]');
    var checkAllSubmit = document.querySelector('.check-all-submit');

    deletePost.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        postId = button.getAttribute('data-bs-whatever')
    })

    var btnDeletePostt = document.getElementById('btnDeletePost');
    btnDeletePostt.onclick = function() {
        deletePostForm.action = '/blog/' + postId + '/delete?_method=DELETE';
        deletePostForm.submit();
    }

    // lắng nghe sự kiện khi check all
    checkboxAll.onchange = function(e) {
        let isCheckedAll = e.target.checked;
        postItemCheckboxs.forEach(postItemCheckbox => {
            postItemCheckbox.checked = isCheckedAll;
        })
        renderCheckAllSubmitBtn()
    }

    // lắng nghe sự kiện postItemCheckboxs
    postItemCheckboxs.forEach(postItemCheckbox => {
        postItemCheckbox.onchange = function(e) {
            let isCheckedAll = postItemCheckboxs.length === document.querySelectorAll('input[name="postIds[]"]:checked').length

            checkboxAll.checked = isCheckedAll;
        renderCheckAllSubmitBtn()
        }
    })

    //Lắng nghe sự kiện onclick vào submit all
    checkAllSubmit.onclick = function(e) {
        let dataAction = document.querySelector('select[name="action"]');
        if(dataAction.value === 'delete') {
            e.preventDefault();
            var myModal = new bootstrap.Modal(document.getElementById('deleteManyPost'), {})
            myModal.show();

            let btndeleteManyPost = document.getElementById('btndeleteManyPost');
            btndeleteManyPost.onclick = function() {
                handleFormActions.submit()
            }
        }
    }

    // create function Re-render check all submit button
    function renderCheckAllSubmitBtn() {
        let checkCount = document.querySelectorAll('input[name="postIds[]"]:checked').length;

        if(checkCount) {
            checkAllSubmit.classList.remove('disabled');
        } else{
            checkAllSubmit.classList.add('disabled')
        }
    }

</script>